@model HomeViewModel


<select asp-items="Model.Categories">
    <option value="value">Choose</option>
    

</select>
<select asp-items="Model.Brands">
    <option  value="value">Chosee</option>

</select>

@foreach ( var item in Model.Products)
{
    <div>
        @item.Name
    </div>
}